.comparison {
    display: flex;        
}

.isa {
    flex: 1;
    background: #00308B;
    color: #F2F2F2;
    padding: 15px;
}

.loan {
    flex: 1;
    background: #F2F2F2;
    color: #00308B;
    padding: 15px;
}

.monthlyComparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background: #00D47B;
    padding: 15px;
}

.monthlyComparisonTile {
    width: 100px;
}

.monthlyComparisonMonth {
    color: #ffffff;
}

.monthlyComparisonIsa {
    color: #00308B;
}

.monthlyComparisonLoan {
    color: #F2F2F2;
}
