.monthlyComparison {
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    padding: 24px;
}

.title {
    color: #00D47B;
}

.container {
    display: flex;
}

.legend {
    font-weight: 700;
    padding-left: 36px;
    padding-right: 36px;
}

.tile {
    width: 100px;
    font-weight: 600;
    margin-bottom: 10px;
}

.monthlyBreakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.months {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.year {
    color: orange;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.month {
    color: #00D47B;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.income {
    color: gray;
    margin: 0 0 10px 0;
}

.isa {
    color: #00308B;
    margin: 0 0 10px 0;
}

.loan {
    color: #00003F;
    margin: 0 0 10px 0;
}
